.footer {
  padding: 50px 50px;
  background: #eeeaff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.footer__box {
  width: 30%;
}

.footer__box p {
  color: var(--heading-color);
  line-height: 28px;
  margin-top: 20px;
}

.footer__title {
  font-size: 1.2rem;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.footer__links {
  line-height: 28px;
}

.footer__links li a:hover {
  color: var(--primary-color);
}

.copyright {
  margin-top: 30px;
  text-align: center;
  color: #777;
}

@media only screen and (max-width: 1024px) {
  .footer__wrapper {
    column-gap: 1rem;
    flex-wrap: wrap;
  }

  .footer__box {
    width: 100%;
    margin: 0.8rem 0;
  }

  .footer__box:first-child {
    width: 100%;
  }
  .footer__box:nth-child(2),
  .footer__box:nth-child(3),
  .footer__box:nth-child(4) {
    width: 30%;
  }
}

@media only screen and (max-width: 569px) {
  .footer__box:nth-child(2),
  .footer__box:nth-child(3),
  .footer__box:nth-child(4) {
    width: 100%;
  }
}
